  body {
            background-image: url("/images/grad.jpg");
            background-size: cover;
            background-position: center;
            color: #fff;
            font-family: Arial, sans-serif;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            text-align: left;
        }
        h1 {
            margin-top: 0;
        }
        .form-group {
            margin-bottom: 20px;
        }
        .form-group label {
            width: 150px;
            font-weight: bold;
        }
        .form-group input,
        .form-group select,
        .form-group textarea {
            width: 90%;
            padding: 5px;
        }
        .submit-btn {
            margin-top: 20px;
            text-align: center; /* Align the button to the center */
        }

        /* Style the "Add" button */
        .submit-btn input[type="submit"] {
            padding: 10px 20px;
            background-color: #E5ABCE;
            color: #fff;
            font-size: 18px;
            border: none;
            border-radius: 5px; /* Rounded corners */
            cursor: pointer;
        }

        /* Style the "Add" button on hover */
        .submit-btn input[type="submit"]:hover {
            background-color: #e25ead;
        }

        /* Style the "Add" button on active (when clicked) */
        .submit-btn input[type="submit"]:active {
            background-color: #dd2f97;
        }

        /* Add rounded corners to the form container */
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            text-align: left;
            border-radius: 10px; /* Rounded corners */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a slight shadow for depth */
        }

        .back-btn {
            text-align: center;
            margin-bottom: 20px;
        }

        .back-btn a {
            display: inline-block;
            padding: 10px 20px;
            background-color: #E5ABCE;
            color: white;
            font-size: 16px;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        .back-btn a:hover {
            background-color: #ec83c2;
        }

        .message-container {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Ajouter un fond semi-transparent */
            z-index: 9999; /* Assurer que la boîte modale est au-dessus de tout le contenu */
        }

        /* Style pour la boîte modale */
        .message-box {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #878787;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }


        /* centrer texte */
        .centered-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-size: 24px;
            font-weight: bold;
        }

        .emoji {
            font-size: 20px;
            margin-right: 5px;
        }

          
          #fileInputs {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
          }
          
          .submit-file-btn {
            margin-top: 20px;
          }
          
          /* Style the "Add" button */
          .submit-file-btn input[type="button"] {
            padding: 8px 8px;
            background-color: transparent;
            color: #fff;
            font-size: 14px;
            border: none;
            cursor: pointer;
          }
          
          /* Style the "Add" button on hover */
          .submit-file-btn input[type="button"]:hover {
            background-color: #e25ead;
          }
          
          /* Style the "Add" button on active (when clicked) */
          .submit-file-btn input[type="button"]:active {
            background-color: #dd2f97;
          }